<mat-toolbar color="accent">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Projeto Angular Framework</span>
    <span class="example-spacer"></span>

  
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
  </mat-toolbar>

  <mat-tab-group color="accent">
    <mat-tab label="Albuns"><app-album></app-album></mat-tab>
    <mat-tab label="To-Do"><app-to-do></app-to-do></mat-tab>
    <mat-tab label="Post"><app-post></app-post></mat-tab>
  </mat-tab-group>