.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

table {
  width: 100%;
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

.columnId{
  width: 5%;
}

.columnTitle{
  width: 30%;
}

.columnUserId{
  width: 15%;
}

.columnAcctions{
  width: 15%;
}